@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Red+Hat+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
}

/* Background animate for preloader */
.background-animate {
  background-size: 200%;
  -webkit-animation: AnimateBackground 2s ease infinite;
  -moz-animation: AnimateBackground 2s ease infinite;
  animation: AnimateBackground 2s ease infinite;
}

@keyframes AnimateBackground {
  0%,100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
